.navbar {
  background-color: #2c3e50;
  width: 100%;
  z-index: 1030;
}

.brand {
  font-size: 1.5rem !important;
  color: white !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
}
.links {
  font-size: 1rem !important;
  color: white !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}
