.textcenter{
    text-align: center;
}
.width{
    width: 15rem;
}
.desc{
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
}
.descsmall{

    font-size: 1.5rem;
    font-weight: lighter;
}

.herosection{
    padding: 50px 0;
    padding-top: 10%;
     background-color: #1abc9c;
}