.aboutsection{
    background-color: #1abc9c;
    padding: 13%;
    gap:70px 0;
    
}
.title h2{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 10px;
    color: white;
}
.description span{
font-weight: 300;
font-size: 1.25rem;
color: white;
}